*<style>
/*Importação do estilo de fonte pixel*/
@import url(http://fonts.googleapis.com/css?family=Geo&subset=latin);

/*Corpo da Página*/
body{background-color: #f78fb3;}

/*Título Principal*/
h1{
    text-align: center;
    color: white;
    font-family: 'Geo', serif;
    padding-top: 50px;
    font-size: 70px;
}

/*DIV principal*/
div
{
    width: 30%;
    height: 100%;
    background: black;
    margin: auto;
}

/*DIV que engloba os inputs*/
.divInput
{
    height: 30%;
    width: 70%;
    float: none;
}
